{% extends "index.html" %}

{% block content %}
<div style="width:65%; margin-left: 350px; margin-top: 50px">
    <h3 style="margin-left: 25px">{{ post.created_date }}</h3>
    <div style="display: inline-flex;">
        <h3>{{ post.type }}</h3>
    </div>
    <h2 style="word-wrap:break-word;margin-left: 25px">{{ post.title.capitalize() }}</h2>
    <img src="../static/img/post/{{ post.photo }}" height="450" width="650" hspace="25">
    <h5 style="word-wrap:break-word;margin-left: 25px">{{ post.content }}</h5>
    <img src="../static/img/Ava/{{ post.user.avatar }}" class="round" height="75" width="75" style="margin-left: 25px">
    <h3 style="margin-left: 25px">Автор: {{ post.user.nickname }}</h3>
    {% if current_user.is_authenticated and current_user == post.user %}
    <div>
        <a style="margin-left: 25px; margin-bottom: 5px" href="/edit_post/{{ post.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a style="margin-bottom: 5px" href="/delete_post/{{ post.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="/add_comment/{{ post.id }}" style="text-decoration: none">
        <div style="display: inline-flex; border: 3px solid; margin-left: 25px;">
            <h3>Добавить комментарий</h3>
        </div>
    </a>
    {% endif %}
    <p></p>
    {% if post_comments %}
    <h3 align="center">Комментарий</h3>
    <hr style="margin-left:25px; margin-right: 25px">
    {% endif %}
    {% for comment in post_comments %}
    <div style="display: inline-flex;">
        <img src="../static/img/Ava/{{ comment.user.avatar }}" height="64" width="64"
             style="margin-left: 25px">
        <h3 style="word-wrap:break-word;width: 180px">{{ comment.user.nickname }} </h3>
        <h4 style="word-wrap:break-word; margin-left: 30px; width: 66%">{{ comment.text }}</h4>
        {% if current_user == comment.user %}
        <div style="position: relative; left: 15px">
            <a style="margin-bottom: 5px" href="/delete_comment/{{ comment.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {% endif %}
        <p></p>
    </div>
    <hr style="margin-left:25px; margin-right: 25px">
    {% endfor %}
</div>
{% endblock %}